* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: rgb(32, 29, 24);
    /* background-color: rgb(226, 216, 204); */
}
body {
    margin : 2% 5% 2% 5%;
    min-height: 100vh;
    max-width: 100vw;
    font-family: "degular-mono", sans-serif;
    font-weight: 500;
    font-style: normal;
}
html, body {
  cursor: url("spray-bottle.png") 16 16, auto;
  /* FOR LATER: update img w/ paint being sprayed to act as clicker */
}
main{
    min-height: 65vh;
}
h1{
    font-family: "subway-new-york-sc", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    font-size: 4.45rem;
    letter-spacing: 0.08em;
    padding-top: 1%;
    color: rgb(242, 255, 61);
}
.subhead{
    margin: 0px;
    margin-top: 0rem;
    font-size: 1.25rem;
    font-family: "degular-mono", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: rgb(244, 246, 209);
}
#playButton {
    margin-top: 2%;
    padding: 0.5rem 0.55rem;
    font-size: 1rem;
    background-color:rgb(60, 56, 47);
    color:  rgb(199, 193, 180);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}
#playButton:hover {
    color: rgb(242, 255, 61);
}
.photos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5rem;
    padding: 3% 8% 6% 8%;
}
.img-container{
    width: 600px;
    height: 600px;
    padding-bottom: 2%;
    
    overflow: hidden

}
.photos img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


main span{
    font-size: 1.65rem;
    font-family: "degular-mono", sans-serif;
    font-weight: 600;
    font-style: normal; 
    color: rgb(244, 246, 209);
}
main a:before {
    text-decoration: none;
    color: black;
}
main a:hover {
    text-decoration: none;
    color: rgb(242, 255, 61);
}
main a:hover span {
    text-decoration: none;
    color: rgb(242, 255, 61);
}
main a:hover i {
    text-decoration: none;
    color: rgb(242, 255, 61);
}
main a:active {
    text-decoration: none;
    color: rgb(242, 255, 61);
}
footer{
    padding-top: 6rem;
    text-align: center; 
    font-weight: 600;
    font-size: 1.2rem;
    color: rgb(244, 246, 209);
}
footer a{
    color: rgb(244, 246, 209);
    text-decoration: none;
    display: inline-block; /* must be inline-block to use active stages */
    color: rgb(242, 255, 61);
}
footer a:visited{
    color: rgb(242, 255, 61);
}
.attribution{
    font-weight: 400;
    color: rgb(244, 246, 209);
    text-decoration: underline;
    padding-bottom: 1%;
}
.attribution:visited{
    color: rgb(244, 246, 209);
}