* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  background-image: url("assets/wall-1.jpeg")
}
body {
    margin : 2% 5% 2% 5%;
    min-height: 100vh;
    max-width: 100vw;
    font-family: "degular-mono", sans-serif;
    font-weight: 500;
    font-style: normal;
}
html, body {
  cursor: url("assets/spray-bottle.png") 16 16, auto;
  /* FOR LATER: update img w/ paint being sprayed to act as clicker */
}

.rectangle{
  position: fixed;
  width: 100vw;
  height: 200%;
  background-color: rgb(239, 225, 197);
  opacity: 65%;
  z-index: -45;
  /* TO-DO: check positioning  */
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);

}
img {
    width: 150px;
}
header{
    left: 50%;
    z-index: 10;
    text-align: center;
    pointer-events: none;
    padding: 1rem;
    
    /* alt layout: fixed title in center
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    z-index: 10; */
}
h1{
    font-family: "subway-new-york-std", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    font-size: 4rem;
    letter-spacing: 0.02em;
    padding-top: 1%;
}
.subhead{
    margin: 0px;
    margin-top: 1rem;
    font-size: 1.4rem;
    font-family: "degular-mono", sans-serif;
    font-weight: 600;
    font-style: normal;
}
footer{
    /* position: fixed;
    top: 95%;
    left: 50%; 
    transform: translate(-50%, -50%); */
    padding-top: 10rem;
    text-align: center; 
    font-weight: 600;
    font-size: 1rem;
}
footer a{
    color: black;
    text-decoration: none;
    display: inline-block; /* must be inline-block to use active stages */
    color: rgb(189, 85, 15);
}
footer a:visited{
    color: rgb(189, 85, 15);
}

/* MAIN CONTENT ------ */
.cities-map {
  position: relative;
  max-height: 100vh;
  padding: 2% 5% 6% 5%;
  justify-items: center;
  gap: 0.75rem;
}
.city-button{
  min-height: 40vh;
  padding-top: 0px;
  padding-bottom: 3.5%;
}
  /* city buttons --------- */
.city {
    /* using grid layout */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;

    padding: 2rem 5.5rem;
    color: #111;
    text-decoration: none;
    /* smooth interactions */
    transition: transform 160ms ease;
    will-change: transform;
    text-align: center;
  }

.city a{
    display: inline-flex;
    flex-direction:column;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
  
  /* TO-DO: icon placeholder -- need to add landmark icon later*/

  /* DEBUG label -tried change to graffiti font; not working? */
  .city .label {
    font-size: 1.75rem;
    letter-spacing: 0.01em;
    padding-top: 5%;
  }
  
  /* hover transition- "lift up" like sticker */
  .city:hover a {
    color: #bd550f;
  }
  .city:active a {
    color: rgb(189, 85, 15);
  }
  .city:hover { 
    transform:
      translate(var(--x, 0px), calc(var(--y, 0px) - 4px))
      scale(1.05)
      rotate(var(--r, 0deg));
  }
  .city:active {
    transform:
      translate(var(--x, 0px), calc(var(--y, 0px) - 1px))
      scale(1.01)
      rotate(var(--r, 0deg));
  }

.sticker {
    transform:
      translate(var(--x, 0px), var(--y, 0px))
      rotate(var(--r, 0deg));
}
  
/* pattern so each city has a different rotation - randomness effect) */
.type-1 { --x: -35px;  --y: -35px; --r: -3.5deg; }
.type-2 { --x: -75px; --y:  220px; --r:  2.8deg; }
.type-3 { --x: -25px;  --y:  -10px; --r:  5.2deg; }
.type-4 { --x: 10px; --y: 165px;  --r: -4.2deg; }
  
  /* Mobile */
@media (max-width: 520px) {
  .cities-map { padding: 16vh 5vw; }
  .city-button { padding-top: 32vh; padding-bottom: 32vh; }
  .sticker { --x: 0px; --y: 0px; --r: 0deg; }
}

/* ICON hovers - cannot change color of SVG uploaded as img src -- would need to play with uploading both img files and opacity during active modes -- or use icon library? */
.icon{
  position: relative;
  width: 150px;
  height: 150px;
  flex: 0 0 auto;
}
.icon img{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
.city a .img-after{
  opacity: 0;
}
.city:hover a .img-before{
    opacity: 0;
}
.city:hover a .img-after{
  opacity: 1;
}
#florence a .img-before{
  height: 80%;
  width: auto;
  left: 20%;
  top: 20%;
}
#florence a .img-after{
  width: 110%;
  height: auto;
  bottom: 5%;
}
#milan a .img-before{
  height: 80%;
  width: auto;
  left: 14%;
  top: 20%;
}
#milan a .img-after{
  width: 110%;
  height: auto;
  bottom: 20%;
}
#nyc a .img-before{
  width: 110%;
  height: auto;
  left: 10%;
  top: 40%;
}
#nyc a .img-after{
  width: 110%;
  height: auto;
}
#hanoi a .img-after{
  width: 105%;
  height: auto;
  bottom: 25%;
}




