html,
body {
    cursor: url('cursor.png') 4 4, auto;
    background-color: rgb(252, 239, 248);
    /* transition: background 3s ease; */
}
* {
    box-sizing: border-box;
}
section{
    padding-top: 5%;
    padding-left: 8%;
    padding-bottom: 8%;
}
/* container for buttons */
.mode-toggle {
  position: fixed;
  top: 1.8rem;
  right: 3rem;
  display: flex;
  gap: 6px;
  z-index: 999;
}
button {
  padding: 8px 14px;
  border: 1.5px solid black;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.25rem;
}
button:hover{
    background-color: black;
    color:white;
}
button.active {
  background-color: black;
  color: white;
}

/* CHAOS MODE */
body.chaos {
  background-size: 100% 400%;
  animation: gradientMove 12s linear infinite;
  transition: 3s ease;
}
@keyframes gradientMove {
  0% { background-position: 0% 0%; }
  100% { background-position: 0% 100%; }
}

h1{
    font-family: "swear-text", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
    margin-bottom: 0.25rem;
}
.subhead{
    font-family: "swear-text", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 2.5rem;
    margin-top: 0rem;
}
h2{
    font-family: "swear-text", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.65rem;
    margin-bottom: 0.25rem;
    padding-top: 1rem;
}  
ul {
    margin: 0%;
    margin-top: 0.5rem;
}
li {
    font-size: 1.2rem;
    margin-bottom: 0%;
    margin-top: 0.95rem;;
}
a {
    margin: 0%;
    color: black;
    display: inline-block;
    transition: transform 0.2s ease, color 0.2s ease;
}
a:hover{
    transform: scale(1.1);
    color: rgb(187, 50, 118);
}
a:active{
    color: rgb(187, 50, 118);

}
a:visited{
    color: rgb(187, 50, 118);
}
