* {
    box-sizing: border-box;
    margin: 5%;
    background-color: rgb(252, 239, 248);

}
h1{
    font-family: "swear-text", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
    margin-bottom: 0.25rem;
}
.subhead{
    font-family: "swear-text", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 2.5rem;
    margin-top: 0rem;
}
h2{
    font-family: "swear-text", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.65rem;
    margin-bottom: 0.25rem;
}  
ul {
    margin: 0%;
    margin-top: 0.5rem;
}
li {
    font-size: 1.2rem;
    margin-bottom: 0%;
    margin-top: 0.95rem;;
}
a {
    margin: 0%;
    color: black;
    display: inline-block;
    transition: transform 0.2s ease, color 0.2s ease;
}
a:hover{
    transform: scale(1.1);
    color: rgb(187, 50, 118);
}
a:active{
    color: rgb(187, 50, 118);

}
a:visited{
    color: rgb(187, 50, 118);
}
